<footer class="footer  bg-dark mt-auto">

<div class="container d-flex justify-content-center">
<span class="text-muted p-3" style="font-size:16px;">&copy; SRZ 2021</span>
<span class="text-muted  p-3" style="font-size:16px;"> All Rights Reserved</span>



</div>

</footer>